.title-nav-wrapper{
	display: table;
	/*width:100%;*/
	margin: 0 auto;
	padding: 25px 80px;
	vertical-align: middle;
	text-transform: uppercase;

}
header#header {
box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
}
.site-title img {
	max-height: 100px;
	max-width: 400px;
	width: 30%
}
.container{
	font-family: "Dosis";
}
#desktopNav {
	display: table-cell;
	width: 70%;
	text-align: right;
	vertical-align: middle;
	text-decoration: none solid rgb(26, 26, 26);
}

.main-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	line-height: 1em;
}

.main-nav ul li {
	font-family: "Dosis";
	text-align: right;
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14px !important;
	text-decoration: none !important;
}

/*.nav-wrapper ul{

}*/
body{
	margin: 0px;
	color: #363636;
	width: 100%;
}
/*.external-links{
	text-decoration: none !important;
}*/
.site_title {
margin-bottom: 0px;
margin-top: 0px;
}

.site_title a {
padding-right: 100px;
}

.title-nav-wrapper h1{
	text-decoration: none;
	color: #363636;
}
.nav-wrapper span{
	color: #363636;
	text-decoration: none;
}
.nav-wrapper a{
	text-decoration: none;
}
.nav-wrapper span:hover {
	color: #5c5c5c;
}


/*this begins css on the side menu*/

.sideMenu{
	width:17%;
	background-color: transparent;
	height: 100%;
	float:left;
	border-right: black solid 1px;
	position: absolute; 
	left: 0;
/*	bottom: 0;*/
}
h1{
	display: block;
}
.subUl{
	display:none;
}


/*global css*/

.tAc{
	text-align: center;

}

html, body {
    height:100%;
}

.container{
	height: auto !important;
	min-height: 100%;

}

.eighty-two{
	width: 83% !important;
	float:right;
}

ul{
	font-family: "Dosis";
	list-style-type: none;
}

li{
	font-family: "Dosis";
	list-style-type: none;
}

ul:hover{
	color: #5c5c5c;
}

li:hover{
	color: #5c5c5c;
}


/* this is where al the user data will populate*/

.UserPhoto img{
	display: inline;
	max-height: 50px !important;
	max-width: 50px !important;
}

.UserData ul li {
	font-family: "Dosis";
	text-align: right;
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14px !important;
	text-decoration: none !important;
	vertical-align: middle;
	text-transform: uppercase;
	padding-right: 10px

}

.UserData ul{

	border-bottom: black solid 2px;

}

p{
	margin: 0 25px;
}